<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
	<Section Name="SqlConfig">
		<Parameter Name="SqlConnectionString" Value="Server=localhost,1444;Database=TripsDB;User Id=sa;Password='LozinkaJakaWebProjekatSifra!#';TrustServerCertificate=True;" />
	</Section>
	<Section Name="BaseAppSettings">
		<Parameter Name="BaseUrl" Value=" https://take-submarine-collapse.ngrok-free.dev/shared"/>
	</Section>
</Settings>
