<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
	<Section Name="JwtConfig">
		<Parameter Name="SecretKey" Value="MojVEOMATAJNIKLJUCKOJIJETAJAN1234%%%#$@" />
		<Parameter Name="Issuer" Value="ProjekatWeb" />
		<Parameter Name="Audience" Value="ProjekatWeb" />
		<Parameter Name="ExpirationMinutes" Value="60" />
	</Section>
</Settings>
